<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <style>
        p{
            color: #000;
            font-size: 22px;
        }
    </style>
</head>
<body>
    <footer style="margin-top: 10%; background-color: #FFC436; padding: 10px; color: #fff; display: flex; justify-content: space-around; align-items: center;">
        <div class="left-content">
            <p style="margin-left: 25px;">BookHaven</p>
        </div>
        <div class="right-content">
            <p style="margin-right: 25px;">Turn reading into a habit!</p>
        </div>
    </footer>
</body>
</html>