{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<div class="container mt-3" style="margin: 10px auto">
    <h1 style="text-align: center; margin: 12px;">Booklist:</h1>
</div>

<div class="container mt-3" style="margin: 10px auto">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2 mx-auto text-center">
            <a class="btn btn-primary" href="{% url 'main:library' %}" role="button">Add Book</a>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>

<table id="catalog" style="margin: 0 auto;"></table>

<script>
    async function getBooks() {
        return fetch("{% url 'main:get_user_books' username=user %}").then((res) => res.json())
    }

    async function refreshBooks() {
        document.getElementById("catalog").innerHTML = ""
        const books = await getBooks()
        let htmlString = `<div class="container" style:"justify-content: center; display: flex; width: full;">
            <div style="gap: 2rem; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">`
        books.forEach((item) => {
            htmlString += `\n<div>
                <div class="card" style="width: 300px; height: 400px;">
                    <div style="width: 100%; height: 100%; overflow: hidden;">
                        <img src="${item.fields.image_l}" style="object-fit: cover; width: 100%; height: 100%;" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">${item.fields.title}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">${item.fields.isbn}</h6>
                    </div>
                    {% if request.user == user %}
                    <div class="card-footer">
                        <button type="button" class="btn btn-outline-danger" onclick="deleteItem(${item.pk})">Delete</button>
                    </div>
                    {% endif %}
                </div>
            </div>` 
        })
        htmlString += `\n</div>
        </div>`
        
        document.getElementById("catalog").innerHTML = htmlString
    }

    refreshBooks()

    async function deleteItem(itemId) {
        const response = await fetch("/delitem/" + itemId).then(refreshBooks);
        if (response.status === 200) {
            console.log('Deleted item');
        } else {
            console.error('Failed to delete item');
        }
    }
</script>
{% endblock content %}