{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<style>
  body{
    background-color: #F2E8C6;
  }
  .h-100{
    background-color: #A73121;
  }
  h1{
    text-align: center; /* Center the h1 element */
    font-weight: bold; /* Make the text bold */
    font-family: Arial, sans-serif; /* Change the font style */
    margin-top: 10px;
  }
</style>
<h1>Top 10 Books:</h1>
<div class="row row-cols-1 row-cols-md-3 g-4 mx-4 my-3" >
    {% for title in Titles %}
    <div class="col">
        <div class="card h-100">
          <img src="{{title}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      {% endfor %}
</div>
{% endblock content %}