{% extends 'base.html' %}

{% block meta %}
    <link rel="icon" href="https://i.imgur.com/M3JXpkW.png?1" type="image/png">
    <title>BookHaven • ?</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: #F2E8C6;
    }
    .content {
        flex: 1;
    }
    .h-100{
        background-color: #A73121;
    }
</style>
<div class="content">
<div class="container mt-3" style="margin: 10px auto">
    <h1 style="text-align: center; margin: 12px;"> User not found. </h1>
</div>
</div>

{% include 'footer.html' %}
{% endblock content %}